id_rsa*
.terraform/
terraform.tfstate.backup
*.pyc
uploads/
*.hcl
.vscode/
.github/
.ssh/
*.log
*.pycache/
.env
__pycache__/
**/__pycache__/
*.pyc
*.pyo
credentials.json
docker-compose.yaml
*.exe
*.lib
*.exp
*.txt
.terraform.tfstate.lock.info
terraform.tfstate
docker-compose-local.yaml