services:
  worker-gpu:
    image: lucasrueda01/worker-gpu:dev
    container_name: worker-gpu
    restart: unless-stopped

    environment:
      RABBIT_USER: guest
      RABBIT_PASSWORD: guest
      RABBIT_URL: "amqp://blockchain:blockchain123@host.docker.internal:5672/blockchain"
      COORDINADOR_HOST: 34.70.149.154
      COORDINADOR_PORT: "5000"
      POOL_MANAGER_HOST: host.docker.internal
      POOL_MANAGER_PORT: "6000"

    # Habilita GPU (Docker Desktop + WSL2)
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
