services:
  worker-gpu:
    image: lucasrueda01/worker-gpu:latest
    container_name: worker-gpu
    restart: unless-stopped

    environment:
      RABBIT_USER: blockchain
      RABBIT_PASSWORD : blockchain123
      RABBIT_HOST : 136.115.21.88
      RABBIT_VHOST : blockchain
      COORDINADOR_HOST: 136.115.21.88
      POOL_MANAGER_HOST: 136.115.21.88
      TZ: "America/Argentina/Buenos_Aires"

    # Habilita GPU (Docker Desktop + WSL2)
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
