config:
  clients:
    - url: http://loki:3100/loki/api/v1/push

  snippets:
    pipelineStages:
      - docker: {}
      - cri: {}

  positions:
    filename: /run/promtail/positions.yaml

daemonset:
  enabled: true

serviceMonitor:
  enabled: true

resources:
  requests:
    memory: 50Mi
    cpu: 50m
  limits:
    memory: 100Mi
    cpu: 100m

