grafana:
  nodeSelector:
    node-role: infra
  enabled: true
  adminUser: admin
  adminPassword: admin123
  service:
    type: ClusterIP
  sidecar:
    datasources:
      enabled: true
  additionalDataSources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki.monitoring.svc.cluster.local:3100
  tolerations:
    - key: "dedicated"
      operator: "Equal"
      value: "infra"
      effect: "NoSchedule"

prometheus:
  prometheusSpec:
    nodeSelector:
      node-role: infra
    tolerations:
    - key: "dedicated"
      operator: "Equal"
      value: "infra"
      effect: "NoSchedule"
    retention: 12h
    resources:
      requests:
        memory: 500Mi
        cpu: 300m
      limits:
        memory: 1Gi
        cpu: 800m
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard-rwo
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

alertmanager:
  enabled: false
  alertmanagerSpec:
    nodeSelector:
      node-role: infra
    tolerations:
    - key: "dedicated"
      operator: "Equal"
      value: "infra"
      effect: "NoSchedule"

prometheusOperator:
  nodeSelector:
    node-role: infra
  tolerations:
    - key: "dedicated"
      operator: "Equal"
      value: "infra"
      effect: "NoSchedule"

kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false
kubeEtcd:
  enabled: false
kubeStateMetrics:
  enabled: false
