apiVersion: apps/v1
kind: Deployment
metadata:
  name: coordinator
  namespace: blockchain
spec:
  replicas: 2
  selector:
    matchLabels:
      app: coordinator
  template:
    metadata:
      labels:
        app: coordinator
    spec:
      nodeSelector:
        node-role: apps
      containers:
        - name: coordinator
          image: lucasrueda01/coordinador:dev3
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: PYTHONUNBUFFERED
              value: "1"
          envFrom:
            - configMapRef:
                name: blockchain-config
            - secretRef:
                name: rabbitmq-credentials
