apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: coordinator-hpa
  namespace: blockchain-apps
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: coordinator
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
