apiVersion: v1
kind: Service
metadata:
  name: coordinator
  namespace: blockchain-apps
  labels:
    app: coordinator
spec:
  type: ClusterIP
  selector:
    app: coordinator
  ports:
    - name: http
      port: 5000
      targetPort: 5000
    - name: metrics
      port: 8000
      targetPort: 8000