apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: blockchain-infra
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379

  tolerations:
  - key: "dedicated"
    operator: "Equal"
    value: "infra"
    effect: "NoSchedule"

