apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-external
  namespace: blockchain-infra
spec:
  type: LoadBalancer
  loadbalancerIP: ${RABBIT_IP}
  selector:
    app: rabbitmq
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
