containers:
  - name: rabbitmq
    image: rabbitmq:3-management

    ports:
      - containerPort: 5672
      - containerPort: 15672

    env:
      - name: RABBITMQ_DEFAULT_USER
        valueFrom:
          secretKeyRef:
            name: rabbitmq-credentials
            key: RABBIT_USER

      - name: RABBITMQ_DEFAULT_PASS
        valueFrom:
          secretKeyRef:
            name: rabbitmq-credentials
            key: RABBIT_PASSWORD

      - name: RABBITMQ_DEFAULT_VHOST
        value: blockchain

      - name: RABBITMQ_VM_MEMORY_HIGH_WATERMARK
        value: "0.8"

    resources:
      requests:
        memory: "256Mi"
        cpu: "100m"
      limits:
        memory: "512Mi"
        cpu: "500m"

    volumeMounts:
      - name: data
        mountPath: /var/lib/rabbitmq
