name: build-test

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: blockchain
          file: blockchain/coordinador/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/blockchain-coordinator:test
